<ion-view view-title="Dashboard" class="home">
  <style>
    .home .tool-container{
      position: absolute;
      bottom:55px;
      right:5px;
      z-index: 15;
    }
    .home .show-small-tool{
      position: relative;
      background-color: #555;
      width: 40px;
      height: 40px;
      border-radius:20px;
      line-height: 40px;
      font-size: 0;
      text-align: center;
      z-index: 10;
    }
    .home .show-small-tool span{
      display: inline-block;
      vertical-align: middle;
      width: 22.63px;
      height: 1px;
      background-color: white;
      transition: background-color 0.2s;
      z-index:10;
    }
    .home .show-small-tool span:before{
      content: '';
      display: inline-block;
      position: absolute;
      top:12px;
      left:8.65px;
      width: 22.63px;
      height: 1px;
      background-color: white;
      transition: transform 0.2s;
      z-index:10;
    }
    .home .show-small-tool span:after{
      content: '';
      display: inline-block;
      position: absolute;
      top:28px;
      left:8.65px;
      width: 22.63px;
      height: 1px;
      background-color: white;
      transition: transform 0.4s;
      z-index:10;
    }
    .home .show-small-tool.close-small-tool span{
      background-color:transparent;
      transition: background-color 0.4s;
    }
    .home .show-small-tool.close-small-tool span:before{
      transform: translateY(8px) rotate(45deg);
      transition: all 0.4s;
    }
    .home .show-small-tool.close-small-tool span:after{
      transform: translateY(-8px) rotate(-45deg);
      transition: all 0.4s;
    }
    .home .small-tool{
      position: absolute;
      top:5px;
      left:5px;
      background-color: #555;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      line-height: 30px;
      font-size: 0;
      text-align: center;
      z-index: 8;
      transition: all 0.4s;
    }
    .home .small-tool i{
      font-size: 20px;
      color: #fff;
    }
    .home .tool-one.show{
      transform: translateY(-80px);
      transition: all 0.4s;
    }
    .home .tool-two.show{
      transform: translate(-69.28px,-40px);
      transition: all 0.4s;
    }
    .home .tool-three.show{
      transform: translate(-40px,-69.28px);
      transition: all 0.4s;
    }
    .home .tool-four.show{
      transform: translateX(-80px);
      transition: all 0.4s;
    }
    .home .tool-four.show{
      transform: translateX(-80px);
      transition: all 0.4s;
    }
  </style>
  <div on-drag="moveTool($event)" class="tool-container" on-release="onRelease()">
    <div class="show-small-tool" ng-class="{true:'close-small-tool', false:''}[showSmallTool]" ng-click="clickSmallTool()" >
        <span>
        </span>
    </div>
    <div class="small-tool tool-one" ng-style="{true:smallToolStyles[0], false:''}[showSmallTool]">
      <i class="icon ion-ios-moon-outline"></i>
    </div>
    <div class="small-tool tool-two" ng-style="{true:smallToolStyles[1], false:''}[showSmallTool]">
      <i class="icon ion-ios-gear-outline"></i>
    </div>
    <div class="small-tool tool-three" ng-style="{true:smallToolStyles[2], false:''}[showSmallTool]">
      <i class="icon ion-ios-paper-outline"></i>
    </div>
    <div class="small-tool tool-four" ng-style="{true:smallToolStyles[3], false:''}[showSmallTool]">
      <i class="icon ion-ios-locked-outline"></i>
    </div>
    <div class="small-tool tool-five" ng-style="{true:smallToolStyles[4], false:''}[showSmallTool]">
      <i class="icon ion-ios-locked-outline"></i>
    </div>
  </div>
  <ion-content class="padding">
  </ion-content>
</ion-view>
